<nav class="sidebar-navigation">
  <section class="sidebar-navigation--logo">
    <img src="/assets/images/full-logo.png"
         alt="Turing School of Software and Design"
         class="turing-logo">
  </section>
  <div class="sidebar-navigation--links">
    <section class="sidebar-navigation--before">
      <h1>Before Turing</h1>
      <ul>
        <li><a href="/prework">Prework</a></li>
        <li><a href="/prework/books.html">Book List</a></li>
        <li><a href="/prework/tools.html">Tools and Apps</a></li>
      </ul>
    </section>
    <section class="sidebar-navigation--during">
      <h1>During Turing</h1>
      <ul>
        <li><a href="/today">Daily Outlines</a></li>
        <li><a href="https://calendar.google.com/calendar/embed?src=casimircreative.com_m6bndqol81h6jdlnpo0a6raot0%40group.calendar.google.com&ctz=America/Denver">Module 1 Calendar</a></li>
        <li><a href="https://calendar.google.com/calendar/embed?src=Y2FzaW1pcmNyZWF0aXZlLmNvbV9jamlmZm9xdnRhanE0M241bW4yOTBjcDc0NEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t">Module 2 Calendar</a></li>
        <li><a href="https://calendar.google.com/calendar/embed?src=casimircreative.com_krb9p35ck35m4uoji5d2715844%40group.calendar.google.com&ctz=America/Denver">Module 3 Calendar</a></li>
        <li><a href="/lessons">Lessons</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/independent-study">Independent Study</a></li>
        <li><a href="https://docs.google.com/spreadsheets/d/1QQmWfs3yZVrEfO-z0THEjZNxKMksvFije_p1SeZJzp8/edit">Pairing Signup</a></li>
        <li><a href="/mentor-info">Mentor Info</a></li>
      </ul>
    </section>
  </div>
</nav>
