<nav class="sidebar-navigation">
  <section class="sidebar-navigation--logo">
    <a href="/"><img src="https://www.turing.io/sites/default/files/turing-logo_1_0.png"
         alt="Turing School of Software and Design"
         class="turing-logo"></a>
  </section>
  <div class="sidebar-navigation--links">
    <section class="sidebar-navigation--search">
      <input type="search" pattern="[a-zA-Z0-9]{1,20}" placeholder="Search lessons...">
      <button class="clear-search clear-search-btn hide">
        <img src="https://image.flaticon.com/icons/svg/60/60578.svg">
      </button>
    </section>
    <section class="sidebar-navigation--before">
      <h1>Before Turing</h1>
      <ul>
        <li><a href="/prework">Prework</a></li>
        <li><a href="/books">Book List</a></li>
      </ul>
    </section>
    <section class="sidebar-navigation--during">
      <h1>During Turing</h1>
      <ul>
        <li><a href="/today">Daily Calendars</a></li>
        <li><a href="/lessons">Lessons</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/independent-study">Independent Study</a></li>
        <li><a href="/open-source/os-guide.html">Open Source Guide</a></li>
        <li><a href="https://docs.google.com/spreadsheets/d/1QQmWfs3yZVrEfO-z0THEjZNxKMksvFije_p1SeZJzp8/edit">Pairing Signup</a></li>
        <li><a href="/mentor-posse-info">Mentor and Posse Info</a></li>
      </ul>
    </section>
    <section class="sidebar-navigation--after">
      <h1>After Turing</h1>
      <ul>
        <li><a href="/postwork">Postwork</a></li>
      </ul>
    </section>
  </div>
</nav>
