<nav class="sidebar-navigation">
  <section class="sidebar-navigation--logo">
    <img src="/assets/images/full-logo.png"
         alt="Turing School of Software and Design"
         class="turing-logo">
  </section>
  <div class="sidebar-navigation--links">
    <section class="sidebar-navigation--before">
      <h1>Before Turing</h1>
      <ul>
        <li><a href="/prework">Prework</a></li>
        <li><a href="/prework/books.html">Book List</a></li>
        <li><a href="/prework/tools.html">Tools and Apps</a></li>
      </ul>
    </section>
    <section class="sidebar-navigation--during">
      <h1>During Turing</h1>
      <ul>
        <li><a href="/today">Daily Outlines</a></li>
        <li><a href="/calendars">Module Calendars</a></li>
        <li><a href="/lessons">Lessons</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/independent-study">Independent Study</a></li>
        <li><a href="/open-source">Open Source Guide</a></li>
        <li><a href="https://docs.google.com/spreadsheets/d/1QQmWfs3yZVrEfO-z0THEjZNxKMksvFije_p1SeZJzp8/edit">Pairing Signup</a></li>
        <li><a href="/mentor-info">Mentor Info</a></li>
        <li><a href="/github-profiles">Student Github Links</a></li>
      </ul>
    </section>
  </div>
</nav>
