<section class="search-results-container hide">
  <h2>Lesson Search Results</h2>
  <h3>Showing top 10 results</h3>
  <ul class="search-results"></ul>
  <img class="clear-search-btn" src="https://image.flaticon.com/icons/svg/60/60578.svg">
</section>

<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script>
  window.ALGOLIA_CONFIG = {
    'applicationId': '{{ site.algolia.application_id }}',
    'indexName': '{{ site.algolia.index_name }}',
    'apiKey': '{{ site.algolia.search_only_api_key }}'
  }
</script>
<script src="/public/js/search.js"></script>