.card-container {
  padding: 0;
}

.card {
  display: inline-block;
  background-color: #F9F9F9;
  border-radius: 3px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  width: 200px;
  list-style: none;
  padding: 20px;
  margin: 15px;
  vertical-align: text-top;
  text-align: center;

  &:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  }

  h3 {
    font-size: 1.5em;
    color: #5F7D99;
    margin: 15px auto;
  }
}

.card-icon {
  display: block;
  margin: 20px auto;
  width: 5em;
  height: 5em;
  stroke-width: 0;
  stroke: #999;
  fill: #999;
}