/* Content */

.content {
  padding: 2em 3em;
  margin: auto;
  max-width: 1200px;

  h1, h2, h3, h4, h5, h6 {
    &:first-child {
      margin-top: 1em;
    }
  }
}

.turn-and-talk {
  margin-top: 30px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);
  margin-bottom: 40px;
  border-left: 8px solid $turing-primary;
  padding: 5px 25px;
}

.medium {
  width: 50%;
  margin: 15px;
}
