$heavy-copy: 'Helvetica Neue Heavy';
$bold-copy: 'Helvetica Neue Bold';
$standard-copy: 'Helvetica Neue';
$light-copy: 'Helvetica Neue Light';
$serif-light-copy: 'Roboto Slab Light';
$serif-regular-copy: 'Roboto Slab Regular';

@font-face {
  font-family: 'Helvetica Neue Heavy';
  src: url('../assets/fonts/HelveticaNeueLTStd-Hv.otf');
}

@font-face {
  font-family: 'Helvetica Neue Bold';
  src: url('../assets/fonts/HelveticaNeueLTStd-Bd.otf');
}

@font-face {
  font-family: 'Helvetica Neue Standard';
  src: url('../assets/fonts/HelveticaNeueLTStd-Lt.otf');
}

@font-face {
  font-family: 'Helvetica Neue Light';
  src: url('../assets/fonts/HelveticaNeueLTStd-Th.otf');
}

@font-face {
  font-family: 'Roboto Slab Light';
  src: url('../assets/fonts/RobotoSlab-Light.ttf');
}

@font-face {
  font-family: 'Roboto Slab Regular';
  src: url('../assets/fonts/RobotoSlab-Light.ttf');
}