.hero-section {
	background: url('/assets/images/front-page-hero.jpg') 70%;
  background-size: cover;
  height: 500px;
  display: flex;
 	align-items: center;
 	position: relative;

 	&:after {
 		background-color: rgba(0,0,0,0.4);
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
 	}
}

.hero-text {
	color: #FFF;
	margin: auto 0;
	max-width: 700px;
	z-index: 2;

	h1 {
		font-size: 7em;
		margin-left: 80px;
		line-height: 1em;
	}
}