.splash {
  background: url('/assets/images/home-page-splash.jpg') 100%;
  background-size: cover;
  border-bottom: 8px solid $front-end-primary;
  height: 525px;
  display: flex;
  align-items: center;
  position: relative;

  &:after {
    background-color: rgba(0,0,0,0.4);
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
}

.splash-text {
  color: #FFF;
  margin: auto 0;
  max-width: 700px;
  z-index: 2;

  h1 {
    font-family: $heavy-copy, sans-serif;
    font-size: 7em;
    margin: 0px 0px 0px 80px;
    line-height: 1em;
    letter-spacing: -5px;
  }

  p {
    font-family: $standard-copy, sans-serif;
    font-size: 1.1em;
    margin: 0px 0px 0px 80px;
  }
}

.resources-section {
  text-align: center;
  padding-bottom: 70px;

  h2 {
    font-family: $heavy-copy;
    font-size: 4em;
    letter-spacing: -2px;
    margin: 0;
    padding: 60px 0 20px;
  }

  img {
    margin: 5px;
    width: 300px;
  }

  p {
    margin: 0 auto 25px;
    max-width: 800px;
    padding: 0 15px;
  }
}

.section-light {
  background-color: $background-secondary;

  h2, p {
    color: $dark-gray;
  }
}

.section-dark {
  background-color: $background-tertiary;

  h2 {
    color: $light-gray;
  }

  p, a {
    color: $medium-gray;
  }
}

@media (max-width: $tablet-width) {
  .splash {
    height: 350px;
  }

  .splash-text h1 {
    font-size: 5em;
    margin-left: 50px;
    letter-spacing: -4px;
  }

  .splash-text p {
    font-size: 1em;
    margin: 0px 0px 0px 50px;
  }

  .resources-section {
    img {
      margin: 10px;
      width: 250px;
    }
  }
}

@media (max-width: $phone-width) {
  .splash {
    height: 275px;
  }

  .splash-text h1 {
    font-size: 3.5em;
    margin-left: 15px;
    letter-spacing: -3px;
  }

  .splash-text p {
    font-size: 0.9em;
    margin: 0px 0px 0px 15px;
  }

  .resources-section {
    img {
      margin: 5px;
      width: 200px;
    }
  }
}
