nav {
  border-bottom: 2px solid $light-gray;
  font-family: $standard-copy;
  font-weight: 700;
}

.nav-links {
  display: -webkit-flex;
  display: flex;
  list-style: none;
  text-align: right;
  margin: 0 30px;
  padding-left: 0;

  li:first-child {
    margin-right: auto;
  }

  li {
    margin: auto 15px;
    line-height: normal;
  }

  a {
    color: $dark-gray;
    border-bottom: none;
  }

  li:not(:first-child) {
    // Hover border does not apply to logo
    a:hover {
      border-bottom: 3px solid $teal;
    }
  }

  .home-logo-link img {
    height: 80px;
    width: 80px;
    margin: 10px;
  }

  @media (max-width: $tablet-width) {
    font-size: 0.9rem;
    margin: 0 10px;

    li {
      margin: auto 10px;
    }

    .home-logo-link img {
      height: 55px;
      width: 55px;
      margin: 5px;
    }
  }

  @media (max-width: $phone-width) {
    
  }
}

.nav-links a.active-link {
  // This border does not get applied to logo
  // because of code in active-links.js file
  border-bottom: 3px solid $teal;
}
