 .search-bar input {
  font-weight: 500;
  outline-color: lighten($turing-secondary, 25%);
  padding-left: 0.5em;
  margin-left: 15px;
  position: relative;
  border: 1px solid $medium-gray;
  width: 200px;

  &::placeholder {
    color: $medium-gray;
  }

  @media (max-width: $tablet-width) {
    width: 150px;
  }

  @media (max-width: $phone-width) {
    margin-top: 5px;
    width: 200px;
  }
}

.clear-search {
  position: absolute;
  right: 50px;
  top: 45px;
  border: none;
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  font-size: 1em;

  &:hover {
    cursor: pointer;
    box-shadow: none;
  }

  img {
    z-index: 100;
    height: 15px;
    width: 15px;
  }

  @media (max-width: $tablet-width) {
    right: 35px;
    top: 33px;
  }

  @media (max-width: $phone-width) {
    right: 25px;
    top: 135px;
  }
}

.search-results-container {
  background-color: #F8F8F8;
  border: 1px solid #BBB;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 12%;
  left: 5%;
  z-index: 100;
  width: 85%;
  padding: 0 10px;
  margin-bottom: 30px;

  ul {
    list-style-type: none;
    padding-left: 10px;
  }

  img {
    height: 15px;
    width: 15px;
    position: absolute;
    top: 10px;
    right: 10px;

    &:hover {
      cursor: pointer;
    }
  }

  @media (max-width: $phone-width) {
    top: 200px;
    width: 90%;
    left: 10px;
  }
}

.result p {
  font-size: 0.85em;
  color: #5D5D5D;
  margin: 5px auto 15px auto;
}

.search-highlight {
  background-color: #DDD;
  color: #222;
}
