.responsive-iframe-container {
  .tablet {
    @media (min-width: $tablet-width) {
      display: none;
    }

    iframe {
      height: 400px;
    }
  }

  .desktop {
    display: block;

    iframe {
      width: 800px; 
      height: 400px;
    }

    @media (max-width: $tablet-width) {
      display: none;
    }
  }
}