$teal: #05c2d1;
$dark-gray: #3c4040;
$medium-gray: #98a1a2;
$light-gray: lighten(#98a1a2, 30);
$yellow: rgb(244, 213, 152);

$phone-width: 320px;
$tablet-width: 720px;
$sidebar-width: 220px;
$content-block-spacing: 2em;
