<!DOCTYPE html>

<html>
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/css/reveal.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/css/theme/white.css">
  </head>

  <body>
    <div class="reveal">
      <div class="slides">
        {{ content }}
      </div>
    </div>
    <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/js/reveal.js"></script>
    <script src="//cdn.jsdelivr.net/caniuse-embed/1.0.1/caniuse-embed.min.js"></script>
    <script>
      Reveal.initialize();
    </script>
  </body>
</html>
